<div class='d-flex justify-content-center'>

  <!-- (load): El evento (load) se dispara cuando el elemento ha terminado de cargar -->
  <!-- [ngStyle] = Si la imágen ya cargo muestralo si no display: none -->
  <img
    [src]='url'
    [alt]='alt'
    class='card-img-top animate__animated animate__fadeIn'
    (load)="onLoad()"
    [ngStyle]="{ display: hasLoaded ? '' : 'none' }"
  />

  <!-- Si no ha cargado la imágen muestra el svg del loader -->
  <img
    *ngIf="!hasLoaded"
    src="assets/loader.svg"
    height="35"
    width="35"
    class="mt-3"
  />

</div>
